.superEstiloBarra {

    width: auto;
    height: 70px;
    background-color: rgb(23, 148, 148);
    text-align: center;


}

.turMana {
    width: 350px;
    height: 350px;
    background-color: blueviolet;
}

.paraElFooter {
    background-color: brown;
    padding: 30px;
}